[python: **.py]
comment_tags = NOTE

[jinja2: **/templates/**.jinja2]
silent=false
extensions=jinja2.ext.do, octoprint.util.jinja.trycatch
comment_tags = NOTE

[javascript: **/static/js/**.js]
extract_messages = gettext, ngettext
comment_tags = NOTE
